@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Areas/Identity/Pages/_TelePLayout.cshtml";
}

<div id="background"></div>
<div class="punto"></div>
<div id="login" class="sombra_caja text-center animated fadeInDown">
    <div class="login_interior">
        <p>
            <img src="~/images/login/TPLogo.PNG" width="90" height="90" />
        </p>
        <h2>Bienvenido a TelePSocial  </h2>
        <form method="post"> 
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.ValidationMessage("CustomError")
            <div style="display:none;"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Usuario" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div> 
                        <div class="checkbox remember-me">
                <label>
                    <input type="checkbox" name="data[User][remember_me]" value="1" id="UserRememberMe" />Recordarme
                </label>
            </div>
            <input class="btn btn-primary block full-width m-b" type="submit" value="Ingresar" style="border-color:#780096;background-color:#780096;color:white;" />
            <small style="position:relative; top:5px;">
                <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                <br><br>
                <p>
                    ¿Necesita ayuda? Escribanos a <a href="mailto:soporte@teleperformance.com.pe">soporte@teleperformance.com.pe</a> 
                </p>    
            </small>  
        </form>
    </div>
</div> 
@section Scripts {
    <partial name="_ValidationScriptsPartial" /> 
}
