/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #780096;
    background-color: #780096;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#PerfilImage {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid #666;
    
} 
#bodysocial {
    border: 500px !important;
}
#Bodyright{
    padding-right:5em;
}

.x_panel_body {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 50px 50px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.panel_toolbox {
    float: right;
    min-width: 70px;
}

.panel_toolbox > li {
    float: left;
    cursor: pointer;
}

.panel_toolbox > li > a {
    padding: 5px;
    color: #780096;
    font-size: 14px;
}

.panel_toolbox > li > a:hover {
    background: #F5F7FA;
}

.x_title {
    border-bottom: 2px solid #780096;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title .filter {
    width: 40%;
    float: right;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.x_title h2 small {
    margin-left: 10px;
}

.x_title span {
    color: #780096;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background: #169F85;
}
.dropdown-menu a {
    cursor: pointer;
}
.cropper .docs-options .dropdown-menu {
    width: 100%;
}

.cropper .docs-options .dropdown-menu > li {
    padding: 3px 20px;
}

.cropper .docs-options .dropdown-menu > li:hover {
    background-color: #f7f7f7;
}

.cropper .docs-options .dropdown-menu > li > label {
    display: block;
}
.dropdown-menu.msg_list span {
    white-space: normal;
}

.dropdown-menu {
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

    .dropdown-menu > li > a {
        color: #5A738E;
    }

.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
}

    .navbar-nav .open .dropdown-menu.msg_list {
        width: 300px !important;
    }
.profile_details .profile_left {
    background: white;
}
.profile_title {
    background: #F5F7FA;
    border: 0;
    padding: 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.login_interior {
    width: 100%;
}
.login_interior h2 {
    font-weight: 300;
    font-size: 18px;
    color: #888;
    text-align: center;
    margin-bottom: 15px;
}
.login_interior p {
    line-height: 1.2;
}
.login_interior {
    position: relative;
    background-color: white;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 10px 25px 20px 25px;
    width: 100%;
    margin: 0px;
    min-height: 300px;
    display: block;
}
.headerPubli {
    background-color: #bf8bcc;
}
