@using Microsoft.AspNetCore.Identity 
<!DOCTY!importantE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TelePSocial</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> 
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.css" /> 
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/login/TPLogo.PNG" width="30" height="30" /></a>
              <form class="form-inline">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="input-group-text"   style="background-color:#780096; border-color:#780096;color:white;"><i class="fas fa-search"></i></button>
                  </div>
                  <input type="text" class="form-control" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </form> 
               <a asp-area="" asp-controller="Home" asp-action="Logout">Salir</a>
            </nav>
    </header> 
        <main role="main"  >
            @RenderBody()
        </main> 

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TelePSocial -  
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
